.ramka{
    background: #0c5460;
    font: 8pt Tahoma;
    color: #2c2c2c;
}
.in-row{
    display: inline-block;
    font: 5vh "Times New Roman";
    width: 15%;
}
.block{
    margin-bottom: 2px;
    border-radius: 17px; /* Уголки */
    background-size: 100%;
    min-height: 16vh;
    width: 60%;
    margin-left: 20%;
}
